.delete-doctor {
    padding: 4rem 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
  }
  
  .delete-doctor h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .delete-doctor-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
  }
  
  .delete-doctor-list p {
    color: #97bf10;
    text-align: center;
  }
  
  .delete-doctor-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .delete-doctor-item-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5%;
    background-color: red;
  }
  
  .delete-doctor-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .delete-doctor-item-name {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .delete-doctor-item-delete {
    margin-left: auto;
  }
  
  .delete-doctor-item-delete button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f00;
    color: #fff;

    /* font-size: 1.5rem; */
    font-weight: 400;
    cursor: pointer;
  }
  
  .delete-doctor-item-delete button:hover {
    background-color: #ff3333d6;
  }
  
  .delete-doctor-item-delete button:active {
    background-color: #ff3333d6;
  }
  
  .delete-doctor-item-delete button:focus {
    outline: none;
  }
  
  .delete-doctor-item-delete button:disabled {
    background-color: #fcc;
    cursor: not-allowed;
  }
  
  .delete-doctor-item-delete button:disabled:hover {
    background-color: #fcc;
  }
  
  .delete-doctor-item-delete button:disabled:active {
    background-color: #fcc;
  }
  
  @media screen and (width <= 768px) {
    .delete-doctor {
      padding: 2rem 1rem;
    }
  
    .delete-doctor h3 {
      font-size: 1.5rem;
    }
  
    .delete-doctor-list {
      width: 100%;
    }
  
    .delete-doctor-item {
      padding: 0.5rem;
    }
  
    .delete-doctor-item-image {
      width: 3rem;
      height: 3rem;
    }
  
    .delete-doctor-item-name {
      font-size: 1rem;
    }
  
    .delete-doctor-item-delete button {
      padding: 0.25rem 0.5rem;
    }
  }
  
  /* Path src/components/deleteDoctor/deleteDoctor.js */

  /* <section className='delete-doctor'>
        <h3>Delete Doctors</h3>
  
        <ul className='delete-doctor-list'>
          {doctors.map((doctor) => (
            <li key={doctor.id} className='delete-doctor-item'>
              <div className='delete-doctor-item-image'>
                <img
                  src={doctor.profile_picture}
                  alt={doctor.doctor_name}
                />
              </div>
              <div className='delete-doctor-item-name'>
                {doctor.doctor_name}
              </div>
              <div className='delete-doctor-item-delete'>
                <button
                  type='button'
                  onClick={() => {
                    setDoctorId(doctor.id);
                    deleteDispatcher();
                  }}
                >
                  {pending}
                </button>
              </div>
            </li>
          ))}
        </ul>
      </section> */