.doc {
  display: grid;
  gap: 1rem;
  text-align: center;
  place-items: center;
  padding: 1rem;
  border-radius: 5px;
  width: 360px;
  min-width: 340px;
}

.doc .photo-div {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.photo-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.doc h5 {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.doc p {
  font-size: 0.8rem;
  opacity: 0.5;
  padding: 0 7%;
}
