nav {
  background-color: #f5f5f5;
  width: 20vw;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4rem;
  z-index: 10;
}

nav h1 {
  font-size: 1.5rem;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  display: block;
  padding: 10px;
}

nav ul li a:hover {
  color: #fff;
  background-color: #97bf10;
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: #333;
}

.hamburger .line:nth-child(2) {
  width: 50%;
}

.hamburger .line:nth-child(3) {
  width: 75%;
}

nav .hamburger {
  display: none;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: none;
  }

  nav .hamburger {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  nav .hamburger:hover {
    color: #000;
  }

  nav .hamburger.active ~ ul {
    display: block;
  }
}
