/* <section id='doc-detail-section'>
      <div className='doc-photo-div'>
        <img src={doctor.photo} alt={doctor.name} />
      </div>
      <div className='doc-details'>
        <p>
          <span>Name</span>
          <span>{doctor.name}</span>
        </p>
        <p>
          <span>Availability</span>
          <span>{doctor.availability}</span>
        </p>
        <p>
          <span>Cost</span>
          <span>{doctor.cost}</span>
        </p>

        <button type='button'>Reserve</button>
      </div>
    </section> */
/* CSS to put image to the left and details to the right. Alternating details to have different background colors, reserve button to be at the bottom */

#doc-detail-section {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
}

.doc-photo-div {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.doc-photo-div img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

#doc-detail-section .arrow {
  bottom: 1rem;
  top: unset;
}